<div style="text-align:right">Prices will refresh in <span id="cnt" style="color:red;">80</span> Seconds</div>

<script>
  var counter = 80;
    
  window.setInterval(function () {
    counter--;
        
    if (counter >= 0) {
      var span;
        span = document.getElementById("cnt");
        span.innerHTML = counter;
      }
        
      if (counter === 0) {
        clearInterval(counter);
      }
  
    }, 1000);
  
  window.setInterval('refresh()', 80000);
  
  function refresh() {
    window  .location.reload();
  }
</script>
  