<script>
  data_arr = []
  id_arr = []

  function render_data(data_arr, id_arr) {
  data_arr.forEach((data, index) => {
    const id = id_arr[index]
   
     document.getElementById("prog-" + id).style.width = data;
    });
  };
</script>

<% if @observe %>
  <% if @coins.class == String %>
    <h3><%= @coins %></h3>
  <% else %>
    <%= render 'observe_mode' %>
  <% end %>
<% else %>
  <%= render 'coin_view' %>
<% end %>

<script>
  document.getElementById('<%= find_focus %>').scrollIntoView( { block: "center" } );
</script>
