// Place all the styles related to the coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#show-img {
  padding: 5px;
  width: 300px;  
}

.trade-img {
  padding: 5px;
  width: 200px;  
}

#coin-infos {
  font-size: 14px;
}

.container_row{
  display: flex;
  margin-left: -5%;
}

.layer1 {
  width: 100%;
  margin-left: 10%;
  margin-top: 6%;
}

.layer2{
  width: 100%;
  margin-left: -100%;
}
