<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div>
  <ul class='nav-menu'>
    <ul class='nav-item'>
      <%= link_to 'Buy Coin', new_coin_path(status: 'buy'), method: 'get' %><br>
      <%= link_to 'Observe Coin', new_coin_path(status: 'observe'), method: 'get' %><br>
      <%= link_to 'Sign_out', destroy_user_session_path, method: 'delete' %>
    </ul>
  </ul>
</div>