<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div>
  <ul class='nav-menu'>
    <ul class='nav-item'>
      <%= link_to 'Add Coin', new_coin_path, method: 'get' %><br>
      <%= link_to 'Observe Mode', root_path(observe: true), method: 'get' %><br>
      <%= link_to 'Sign_out', destroy_user_session_path, method: 'delete' %>
    </ul>
  </ul>
</div>
