<% selected_coin = market( @selected_coin ) %>
<% not_needed_infos = ['image', 'market_cap', 'fully_diluted_valuation', 'ath_date',
                       'ath_change_percentage', 'atl_change_percentage', 'atl_date', 'roi'] %>

<div class="container">
  
  <div style="float:left; position:absolute">
    <% selected_coin.each do | key, val | %>
      <% next if not_needed_infos.include?(key) %>
      
      <p id='coin-infos'>
        <%= key + ': ' %>
        
        <em style="color: rgb(139, 39, 139);">
            <%= val %>
        </em>
      </p>
    
    <% end %>
  </div>
</div>
